@font-face {
  font-family: "Modern";
  src: url("/assets/ModernScript-yyWe.ttf") format("truetype");
}
@font-face {
  font-family: "Swagen";
  src: url("/assets/SwagenRegular-PKMeP.otf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-custom {
  font-family: "Modern", sans-serif;
}
.font-aesth {
  font-family: "Swagen", sans-serif;
}
.blur {
  filter: blur(1px);
}
