@font-face {
  font-family: "Modern";
  src: url("/assets/ModernScript-yyWe.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-custom {
  font-family: "Modern", sans-serif;
}

.blur {
  filter: blur(1px);
}
